
Crea una carpeta/Debug/vc142.pdb
Crea una carpeta/Debug/vc142.idb
Crea una carpeta/Debug/SDL Game.vcxproj.FileListAbsolute.txt
Crea una carpeta/Debug/SDL Game.log
Crea una carpeta/Debug/ModuleWindow.obj
Crea una carpeta/Debug/ModuleTextures.obj
Crea una carpeta/Debug/ModuleSceneIntro.obj
Crea una carpeta/Debug/ModuleRender.obj
Crea una carpeta/Debug/ModulePlayer.obj
Crea una carpeta/Debug/ModulePhysics.obj
Crea una carpeta/Debug/ModuleInput.obj
Crea una carpeta/Debug/ModuleFonts.obj
Crea una carpeta/Debug/ModuleAudio.obj
Crea una carpeta/Debug/Main.obj
Crea una carpeta/Debug/log.obj
Crea una carpeta/Debug/Box2D - Tutorial.tlog/link.write.1.tlog
Crea una carpeta/Debug/Box2D - Tutorial.tlog/link.read.1.tlog
Crea una carpeta/Debug/Box2D - Tutorial.tlog/link.command.1.tlog
Crea una carpeta/Debug/Box2D - Tutorial.tlog/CL.write.1.tlog
Crea una carpeta/Debug/Box2D - Tutorial.tlog/CL.read.1.tlog
Crea una carpeta/Debug/Box2D - Tutorial.tlog/CL.command.1.tlog
Crea una carpeta/Debug/Box2D - Tutorial.tlog/Box2D - Tutorial.lastbuildstate
Crea una carpeta/Debug/Box2D - Tutorial.pdb
Crea una carpeta/Debug/Box2D - Tutorial.ilk
Crea una carpeta/Debug/Box2D - Tutorial.exe.recipe
Crea una carpeta/Debug/Box2D - Tutorial.exe
Crea una carpeta/Debug/Application.obj
Crea una carpeta/.vs/2D Physics/v16/ipch/AutoPCH/b18bf223fce9e08b/MODULESCENEINTRO.ipch
Crea una carpeta/.vs/2D Physics/v16/ipch/AutoPCH/a3b02cf29742b8a8/MODULEPHYSICS.ipch
Crea una carpeta/.vs/2D Physics/v16/Browse.VC.db
Crea una carpeta/.vs/2D Physics/v16/.suo
